@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../fonts/AvenirNextLTPro-It.eot");
  src: url("../fonts/AvenirNextLTPro-It.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirNextLTPro-It.woff2") format("woff2"),
    url("../fonts/AvenirNextLTPro-It.woff") format("woff"),
    url("../fonts/AvenirNextLTPro-It.ttf") format("truetype"),
    url("../fonts/AvenirNextLTPro-It.svg#AvenirNextLTPro-It") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../fonts/AvenirNextLTPro-Bold.eot");
  src: url("../fonts/AvenirNextLTPro-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/AvenirNextLTPro-Bold.woff2") format("woff2"),
    url("../fonts/AvenirNextLTPro-Bold.woff") format("woff"),
    url("../fonts/AvenirNextLTPro-Bold.ttf") format("truetype"),
    url("../fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neuzeit Office Soft Rounded Pro';
  src: url('NeuzeitOfficeSoftRoundedPro-Bold.eot');
  src: url('NeuzeitOfficeSoftRoundedPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('NeuzeitOfficeSoftRoundedPro-Bold.woff2') format('woff2'),
      url('NeuzeitOfficeSoftRoundedPro-Bold.woff') format('woff'),
      url('NeuzeitOfficeSoftRoundedPro-Bold.ttf') format('truetype'),
      url('NeuzeitOfficeSoftRoundedPro-Bold.svg#NeuzeitOfficeSoftRoundedPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Americana";
  src: url("../fonts/AmericanaFont.eot");
  src: url("../fonts/AmericanaFont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AmericanaFont.woff2") format("woff2"),
    url("../fonts/AmericanaFont.woff") format("woff"),
    url("../fonts/AmericanaFont.ttf") format("truetype"),
    url("../fonts/AmericanaFont.svg#AmericanaFont") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../fonts/AvenirNextLTPro-Regular.eot");
  src: url("../fonts/AvenirNextLTPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/AvenirNextLTPro-Regular.woff2") format("woff2"),
    url("../fonts/AvenirNextLTPro-Regular.woff") format("woff"),
    url("../fonts/AvenirNextLTPro-Regular.ttf") format("truetype"),
    url("../fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
body {
  font-family: "Neuzeit Office", sans-serif;
  font-style: normal;
}
.header {
  height: 610px;
  background-image: url("../images/queenstown-slider1-V2-resized_1100x.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.animated-text__content-2 {
  background-image: url("../images/queenstown-slider1-V2-resized_1100x.webp");
}

.announcement-bar {
  position: absolute;
  top: 82px;
  padding: 0 30px;
  width: 100%;
  max-width: 1289px;
  background-color: #242424;
  color: #ffffff;
}

.announcement-bar-iner {
  display: grid;
  grid-template: auto/18% auto 18%;
}

.annoucement-bar-message{
  display: none;
}
.annoucement-bar-message {
  font-family: "Avenir Next LT Pro", sans-serif;
  font-weight: 400;
  font-size: 13px;

  grid-area: 1/2/2/3;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0px;
  line-height: 1.6;
  align-self: center;
}
.annoucement-bar-message {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Thêm hiệu ứng chuyển đổi với thời gian 0.5 giây */
}

.annoucement-bar-message.active {
  display: block;
  opacity: 1;
}


.announcement-bar-icons {
  grid-area: 1/3/2/4;
  align-self: center;
}

.list-icon-announcement {
  text-align: right;
  margin-right: -14px;
  list-style-type: none;
  margin: 0;
}

.list-icon-announcement li {
  display: inline-block;
  margin: 0;
  list-style-position: inside;
}
.list-icon-announcement a {
  min-width: 44px;
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-in-out 0s;
  text-align: -webkit-match-parent;
}

/* Header secsion */

/* Header secsion left */
.header-secsion {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  
  background-color: #ffffff;
}

.header-secsion__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-basis: 110px;
  flex: 1 0 100%;
}

.header-secsion__wrapper > * {
  margin: 0 15px;
}

.header-left {
  flex: 1 1 100%;
  display: flex;
}

.top-link {
  margin-bottom: 0;
  display: inline-flex;
  align-items: center;
}

.top-link ul li {
  display: inline-block;
  list-style-type: none;
  font-family: "Neuzeit Office Soft Rounded", sans-serif;
  /* font-weight: 700; */
  font-style: normal;
  text-transform: normal;
}
.top-link__list {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  list-style-type: disc;
  margin: 0;
}

.site-nav__link {
  display: block;
  text-decoration: none;
  letter-spacing: 0.5px;
  position: relative;
  padding: 15px;
  transition: color 0.3s ease-in;
  color: #242424;
  font-weight: 500;
  padding-bottom:4px;
  font-family: "Neuzeit Office Soft Rounded", sans-serif;
}

.site-nav__link-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* underline animation */
.site-nav__link-wrapper{
  display: block;
  position: relative;
}
.site-nav__link-wrapper{
  padding-bottom: 5px;
}

.site-nav__link-wrapper::after{
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #242424;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.site-nav__link .site-nav__link-wrapper{
  overflow: hidden;
}

.site-nav__link .site-nav__link-wrapper::after{
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.site-nav__link .site-nav__link-wrapper:hover:after,
.site-nav__link .site-nav__link-wrapper:focus::after{
  transform: translate3d(0, 0, 0);
}
/*  */

.child-underline{
  display: block;
  position: relative;
}

.child-underline::after{
  content: '';
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #242424;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.underline_link .child-underline{
  overflow: hidden;
}

.underline_link .child-underline::after{
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.underline_link .child-underline:hover:after,
.underline_link .child-underline:focus::after{
  transform: translate3d(0, 0, 0);
}

/*  */

.site-nav__link-wrapper:hover{
  color: #595959;
}
h3{
  color: #595959;
}

.shop_detox{
  max-width: 295px;
  max-height: 295px;
}

.mega-menu-promo-title{
  padding-top: 15px;
  font-family: "Neuzeit Office Soft Rounded", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: black;
  display: inline;
}

.dropdown-submenu p.mega-menu-link--title {
  display: inline-block;
}

.menu-link > li {
  width: 100%;
}

.mega-menu-promo-subtitle{
  padding-top: 8px;
  font-family: "Neuzeit Office", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #242424;
}

.mega-menu-promo-subtitle:hover{
  color: #595959;
}

.mega-menu-promo-title:hover{
  color: #595959;
}


.menu-link > li {
  padding-bottom: 10px;
}
.animated-link--item{
  color: #595959;
  font-weight: 400;
  font-size: 16px;
}

/* dropdown navbar*/
.dropdown-content {
  display: none;
  padding: 30px;
  /* padding-top: 40px; */
  padding-bottom: 60px;
  position: absolute;
  background-color: #fff;
  box-shadow:  0 4px 2px -2px rgba(0, 0, 0, 0.2);
  max-height: (80vh - 90px);
  overflow-x: hidden;
    overflow-y: auto;
  width: 100%;
  left: 0;
  z-index: 1;
}

.site-bar__dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  background-color: #fff;
}

.column a {
  float: none;
  padding-bottom: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.nav_row {
  display: flex;
  gap: 30px;
}

.cl_1{
  width: 50%;
  display: flex;
  gap: 30px;
}

.dropdown-submenu{
  width: 33.333333333%;
}
.mega-menu-link--title {
  /* padding-bottom: 15px; */
}
.mega-menu-link--title > a{
  color: #242424;
  font-family: "Neuzeit Office Soft Rounded", sans-serif;
  font-weight: 700;
}

.animated-link--item:hover{
  color: #595959;
}

.animated-link--item{
  color: #242424;
  font-weight: 400;
  font-size: 16px;
}
.cl_2 .cl_3{
  width: 25%;
}

/* Clear floats after the columns */
.nav_row:after {
  content: "";
  display: flex;
  clear: both;
}

/* Header secsion center */
.header-center {
  flex-basis: 250px;
  /* flex: 1 0 100%; */
  align-self: center;
}

.site-title {
  padding: 30px 0;
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
  font-size: 14px;
  /* font-weight: 600; */
}

.img-flow {
  width: 110px;
  height: 22px;
}

/* header secsion right */
.header-right {
  flex: 1 1 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.form-dropdown{
  position: relative;
  display: inline-block;
}

.disclosure__button {
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  font-family: "Neuzeit Office Soft Rounded", sans-serif;
  /* font-weight: 700; */
  font-style: normal;
  text-transform: normal;
  font-size: 14px;
  color: #595959;
}

.dropdown-content__nav {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  margin-left: 10px;
  min-width: 100%;
  color: #242424;
  z-index: 6;
  margin: 0;
  list-style-type: none;
  max-height: 250px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content__nav a {
  font-size: 14px;
  font-family: "Neuzeit Office", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content__nav a:hover {
  background-color: #e4dfdf;
  color: #242424;
}

.show{
  display: block;
}

.top-link__list-right {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  font-size: 14px;
}

.top-link__list-right li {
  margin: 0;
}

.top-link__list-right a {
  opacity: 1;
  transition: color 0.3s ease-in;
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px;
}

.site-nav__link-text {
  padding-left: 5px;
}

/* Animated-inner */
.animated-inner {
  align-items: center;
  justify-content: left;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.animated-text__content {
  padding: 50px 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.animated-text a.homepage-section-btn {
  color: #ffffff !important;
}

.animated-text a.homepage-section-btn {
  background-color: #92a692 !important;
}

.animated-text a.homepage-section-btn:hover {
  color: #ffffff !important;
}

.animated-text a.homepage-section-btn:hover {
  background-color: #7d947d !important;
}

.text-box-max-width {
  margin: 0;
  max-width: 100%;
  display: inline-block;
  font-size: 54px !important;
  line-height: normal;
  text-align: left;
  font-family: "Neuzeit Office Soft Rounded Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: normal;
  color: #fff;
}

.dynamic-words {
  position: relative;
  transition: width 500ms cubic-bezier(0.2, 1, 0.3, 1);
  font-family: "Neuzeit Office Soft Rounded Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: normal;
  display: inline-flex !important;
  vertical-align: middle;
  width: 343px;
  font-size: 54px !important;
  float: left;
}


.slide_dynamic{
  color: #92a692;
  display: none;
}


.slide_dynamic.active {
  margin-top: -15px;
  display: block;
  opacity: 1;
  transform: translate3d(0, 0, 0); /* Áp dụng transform khi active */
}




.dynamic-words > span:not(.active) {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  left: 0;
  top: 0;
}

.text:hover {
  text-decoration: underline;
}

.dynamic-words span.active,
.dynamic-words span.active span span {
  transition-delay: 0.4s;
  transform: translate3d(0, 0, 0);
}

.content-wrapper--text_dynamic .text-wrap {
  overflow: hidden;
  display: inline-block;
}

.content-wrapper--button {
  text-align: left;
  margin-top: calc(10px * 2);
}

.homepage-section-btn {
  background-color: #92a692 !important;
  color: #ffffff !important;
  font-weight: 400;
  font-style: normal;
  background: #242424;
  color: var(--primary-btn-text-color);
  transition: all 0.15s ease-in-out 0s;
  display: inline-block;
  padding: 10px 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  cursor: pointer;
  pointer-events: auto;
  border: 0;
}

/* Homepage */
.homepage {
  padding: 50px 0px;
  display: flex;
}

.homepage-left {
  padding: 15px;
  /* width: 100%; */
  /* flex-grow: 1; */
  position: relative;
}

.homepage-right {
  padding: 15px;
}

.img-insite {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detox-img {
  max-width: 630px;
  max-height: 330px;
  object-fit: cover;
  object-position: 50% 50% !important;
}

.homepage-collection__link {
  text-align: center;
  display: block;
  width: 100%;
}

.homepage-item_content {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item-subheading {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
  color: #242424;
}

.title-h2 {
  font-size: 2em;
  font-weight: 700;
  margin: 0 0 0.5em;
  line-height: 1.4;
}

.item-btn {
  margin-top: 8px;
  font-weight: 400;
  background-color: #242424;
  color: #fff;
  transition: all 0.15s ease-in-out 0s;
  display: inline-block;
  padding: 10px 35px;
  letter-spacing: 1px;
  font-size: 14px;
  border-radius: none;
}

/* Content paragraph */
.visitoes-content {
  padding: 50px 0px;
}

.visitoes-wrapper {
  padding: 0 30px;
  animation-delay: 0.25s;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.visitoes-container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.visitoes-paragraph {
  position: relative;
  left: 16.666%;
  width: 66.666%;
  text-align: center;
}

.visitoes-text {
  font-family: "Avenir Next LT Pro", sans-serif;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  color: #242424;
}

/* Collage content */
.collage-wapper {
  padding: 30px;
}

.collage-builder {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.collage-builder__grid-item {
  height: 0;
  position: relative;
  width: calc(100% / (3));
  padding-bottom: calc(100% / (3));
}

.collage-builder__grid-item--inner {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 15px;
}

.collage-builder__content {
  width: 100%;
  height: 100%;
}

.collage-builder__media-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.collage-content-imager {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.bg-collage__1 {
  background-image: url("../images/Frame_890_300x.webp");
}

.bg-collage__2 {
  background-image: url("../images/Frame_891_1500x.webp");
  background-size: cover;
}

.bg-collage__3 {
  background-image: url("../images/Frame_892_1500x.webp");
  background-size: cover;
}

.bg-collage__4 {
  background-image: url("../images/Frame_893_1500x.webp");
  background-size: cover;
}

.collage-builder-imager .img-collage {
  box-sizing: border-box;
}

.img-collage {
  /* object-fit: cover;
    height: 394px;
    object-position: center center; 
    max-width: 100%; 
    max-height: 100%; */
  max-width: 507px;
  max-height: 507px;
  object-fit: cover;
  object-position: 50% 50% !important;
  border: 0 none;
  width: 100%;
  height: auto;
}
.collage-builder__grid-item,
.collage-builder__grid-item--inner.collage-item__1 {
  box-sizing: border-box;
}

.collage-builder__container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  justify-content: center;
  align-items: flex-end;
}

.cb_center {
  align-items: center;
}

.collage-builder__container-content {
  text-align: center;
  color: #fff;
}

.collage-builder-title {
  font-family: "Americana", serif;
  font-size: 40px;
  margin-bottom: 0;
  line-height: 1.1em;
  hyphens: auto;
  overflow-wrap: anywhere;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.collage-builder-link {
  font-family: "Avenir Next LT Pro", sans-serif;
  font-size: 14px;
  color: #242424;
  background-color: #ffffff;
  margin-top: 20px;
  transition: all 0.15s ease-in-out 0s;
  display: inline-block;
  padding: 10px 35px;
  text-transform: uppercase;
}

/* Homepage indiv */
.homepage-indiv__bg {
  background-size: cover;
  background-position: 50% 50% !important;
  background-image: url("../images/Image_with_text_overlay_1500x.webp");
}
.homepage-indiv__full {
  display: flex;
  min-height: 40vw;
  align-items: center;
}

.hompage-indiv__wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.homepage-content-box {
  position: relative;
  width: 50%;
  display: flex;
  transform: translate(0, 0);
  float: left;
  min-height: 1px;
  justify-content: center;
}

.homepage-featured-box {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.homepage-indiv-link {
  font-family: "Avenir Next LT Pro", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.6;
  color: #ffffff;
  background-color: #6a2c43;
  margin-top: 20px;
  padding: 10px 35px;
}

/* Collage header */
.collage-builder__header {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.collage-header__title {
  font-family: "Americana", serif;
  margin-bottom: 0;
  font-size: 28px;
  width: 100%;
  text-align: center;
  display: inline-block;
  position: relative;
  letter-spacing: 1px;
  margin: 0 0 0.5em;
  color: #242424;
}

/* collage content width */
.collage-builder__content-width {
  padding: 30px;
  padding-bottom: 50px !important;
}

.collage-builder__grid-container {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.collage-content__grid-item {
  height: 0;
  position: relative;
  width: calc(100% / (4));
  padding-bottom: calc(100% / (3));
}

.collage-content__grid-item--inner {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 15px;
}

.collage-content__content {
  width: 100%;
  height: 100%;
}

.collage-content__media-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.collage-content__grid-item,
.collage-content__grid-item--inner.collage-item__1 {
  box-sizing: border-box;
}

.collage-content__container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  justify-content: center;
  align-items: flex-end;
}

.collage-content__container-content {
  color: #262428;
  text-align: center;
}

.collage-grid-link {
  font-family: "Avenir Next LT Pro", sans-serif;
  line-height: 1.6;
  margin-top: 0px;
  color: #242424;
  background-color: #ffffff;
  /* margin-top: 20px; */
  transition: all 0.15s ease-in-out 0s;
  display: inline-block;
  padding: 10px 35px;
  font-size: 16px;
  text-transform: uppercase;
}

.collage-builder-imager {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.homepage-indiv__paragraph {
  font-family: "Avenir Next LT Pro", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  padding-top: 10px;
  text-align: right;
}

.homepage-indiv__h2 {
  font-family: "Americana", serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 48px;
  line-height: 53px;
  color: #333333;
}

/* homepage people */
.people-item {
  height: 0;
  position: relative;
  width: calc(100% / (2));
  padding-bottom: calc(100% / (4));
}

.homepage-people__wrapper {
  padding: 30px;
}

.homepage-people__inner {
  margin: -15px;
  display: flex;
}
.people-item-container .people-item__text {
  box-sizing: border-box;
}

.homepage-people__inner {
  box-sizing: border-box;
}

.people-item__inner {
  padding: 15px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.people-item__content {
  width: 100%;
  height: 100%;
}

.people-item-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.people-item__text {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  position: absolute;
  z-index: 1;
  align-items: center;
}

.people-text__h2 {
  font-family: "Americana", serif;
  font-weight: 400;
  line-height: 1.3em;
  hyphens: auto;
  overflow-wrap: anywhere;
  margin: 0 0 0.5em;
  font-style: normal;
  font-size: 28px;
  color: #262428;
  text-align: left;
}

.people-item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-position: 50% 50% !important;
  background-size: cover;
}

.people__1 {
  background-image: url("../images/Frame_5_9c7f4c69-e94f-4e55-b0f6-6d1c7ca7e181_1500x.webp");
}

.people__2 {
  background-image: url("../images/Frame_5-1_b8c2b3aa-806f-4f93-a9ba-8c56a73cd1f6_1500x.webp");
}

/* Home page best selling */
.homepage-selling {
  padding: 50px 0;
}

.homepage-selling__wrapper {
  padding: 0 30px;
}

.selling-title {
  width: 100%;
}
.selling-title__h2 {
  font-family: "Americana", serif;
  margin-bottom: 15px;
  text-align: center;
  font-size: 28px;
  line-height: 1.4;
  letter-spacing: 1px;
}

.selling-product {
  margin-left: -30px;
  display: flex;
  width: 100%;
}

.selling-product__item {
  margin-bottom: 30px;
  width: 25%;
  padding-left: 30px;
}
.selling-product__item {
  margin-bottom: 30px;
}

.selling-product__top {
  margin-bottom: 8px;
}

.selling-product-image > img {
  max-width: 2484px;
  max-height: 3314px;
  width: 100%;
  height: 100%;
}

.selling-product-image {
  position: relative;
  display: inline-block;
}
.selling-product-image .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.selling-product-image:hover .img-top {
  display: inline;
}


.selling-product__link {
  color: #fff;
  background-color: #242424;
  padding: 10px 35px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.6;
  text-decoration: none;
  font-family: "Avenir Next LT Pro", sans-serif;
}
.sale-badge {
  background: #974949;
  color: #ffffff;
  font-size: 9px;
  font-weight: 700;
  line-height: 14px;
  padding: 5px 8px;
  text-transform: uppercase;
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 0;
  z-index: 1;
}

.selling-product-title {
  text-align: center;
  font-family: "Avenir Next LT Pro", sans-serif;
  margin-bottom: 8px;
  color: #242424;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.6;
}

.text-price-line {
  color: #242424;
  opacity: 0.4;
  text-decoration: line-through;
}

.text-price-red {
  color: #9f1111;
}

.selling-product-price {
  text-align: center;
  margin-bottom: 8px;
  font-size: 17px;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Avenir Next LT Pro", sans-serif;
}

.quick-add-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

/* Homepage founder */
.homepage-founder {
  width: 100%;
}

.homepage-founder__wrapper {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.img-bg-founder {
  max-width: 3360px;
  max-height: 1360px;
  object-fit: cover;
  object-position: 50% 50% !important;
  width: 100%;
  aspect-ratio: auto 3360 / 1360;
}

.homepage-founder__content {
  width: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  margin-left: 30px;
}

.homepage-founder__main {
  padding: 30px;
  font-family: "Avenir Next LT Pro", sans-serif;
  font-weight: 400;
}

.homepage-founder__title {
  text-align: left;
  font-family: "Americana", serif;
}

.homepage-founder-h2 {
  font-size: 28px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  color: #242424;
  margin-bottom: 15px;
  display: inline-block;
  position: relative;
  line-height: 1.4;
}

.homepage-founder__text > p {
  margin: 0;
}
.homepage-founder-link {
  color: #fff;
  background-color: #242424;
  margin-top: 20px;
  padding: 10px 35px;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
}

/* hover btn effect */

a:hover {
  text-decoration: none;
  /* color: #242424; */
}

/* Homepage smoothies secsion */
.homepage-smoothies {
  background-color: #f8f8f8;
  color: #242424;
  animation-delay: 0.25s;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  position: relative;
  display: grid;
  grid-template: 1fr/1fr;
  height: auto;
  min-height: 30vw;
}


.featured-menu {
  background-size: cover;
  background-position: center;
  transition: 2s; /* Sử dụng transition cho background-size */
  position: relative;
  display: grid;
  grid-template: 1fr/1fr;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-items: center;
  background-image: url('../images/Feature-menu-5-1_1100x.webp'); /* Ảnh mặc định khi chưa hover */
}

.featured-menu:hover {
  background-size:  110% 110%;
  transform: scale(1.1);
}


.featured-menu--items {
  row-gap: 30px;
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 90px;
  width: 50%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-menu--title {
  display: inline-block;
  background-color: transparent !important;
  background-repeat: no-repeat;
  background-position: left bottom, left bottom;
  color: inherit;
  opacity: 1;
}

.featured-menu--link {
  font-family: "Americana", serif;
  font-size: 28px !important;
  line-height: normal;
  text-decoration: none;
  color: #fff;
}


.featured-menu--link:hover {
  cursor: pointer;
}


.featured-menu--link li a:hover {
  opacity: 0.7;
  color: #fff;
}
a:hover {
  color: #fff;

}

/* Homepage blog secsion */
.homepage-blog--secsion {
  padding: 50px 0;
}

.homepage-blog__main {
  padding: 0 30px;
}

.homepage-blog__title {
  margin-bottom: 30px;
}

.homepage-blog__h2 {
  font-size: 28px;
  width: 100%;
  text-align: center;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-family: "Americana", serif;
  line-height: 1.4;
}

.homepage-blog__item {
  padding-left: 30px;
  /* background-color: #262428; */
  float: left;
  /* width: 33.333%; */
  padding-right: 0;
}

.blog-img__item {
  /* background-size: cover; */
  max-width: 3324px;
  max-height: 3324px;
  width: 100%;
  height: auto;
}

.homepage-blog__row {
  width: 100%;
  box-sizing: border-box;
  margin-left: -30px;
}
.homepage-blog__content {
  width: 100%;
}

.homepage-blog__content {
  box-sizing: border-box;
}

.homepage-time {
  font-size: 13px;
  font-weight: 300;
  margin-top: 10px;
  font-family: "Avenir Next LT Pro", sans-serif;
}

.homepage-blog__name {
  margin: 20px 0;
  font-size: 19px;
  font-family: "Americana", serif;
  font-weight: 400;
  line-height: 1.4;
  color: #242424;
}

.homepage-blog__description {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Avenir Next LT Pro", sans-serif;
}

/* homepage map */

.homepage-map__secsion {
  position: relative;
}
.map-wrapper {
  position: relative;
}
.map-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 30%;
  margin: 30px;
  background-color: #fff;
}

.sitewide--title-wrapper {
  margin-bottom: 15px;
}

.homepage-map__title {
  font-size: 28px;
  line-height: 1.4;
  width: 100%;
  text-align: center;
  display: inline-block;
  position: relative;
  letter-spacing: 1px;
  font-family: "Americana", serif;
}

.sitewide--list-wrapper {
  margin-bottom: 15px;
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  color: #242424;
  font-family: "Avenir Next LT Pro", sans-serif;
  font-weight: 400;
}
.sitewide--list-wrapper > p {
  margin: 0;
}

.map-container {
  padding: 30px;
}

.sitewide--link-wrapper {
  display: flex;
  justify-content: center;
}

.homepage-map__link {
  font-family: "Avenir Next LT Pro", sans-serif;
  font-weight: 400;
  background: #242424;
  color: #fff;
  transition: all 0.15s ease-in-out 0s;
  display: inline-block;
  padding: 10px 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  cursor: pointer;
  pointer-events: auto;
  border: 0;
  text-decoration: none;
}

/* Homepage footer */
.homepage-footer {
  background-color: #f8f8f8;
  padding: 30px 0;
  color: #242424;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.footer-wrapper {
  padding: 0 30px;
  display: inline-block;
  width: 100%;
}

.footer-main {
  margin-left: -30px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.footer-item {
  float: left;
  min-height: 1px;
  padding-left: 30px;
  vertical-align: top;
  width: 25%;
  display: inline-block;
}

.footer-container {
  list-style: none;
}
.footer-container > li > a {
  color: #242424;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Avenir Next LT Pro", sans-serif;
  font-weight: 400;
}
.footer-container > li {
  margin-bottom: 0.25em;
}

.footer-list__icons {
  display: flex;
}

.icon-footer > a {
  padding: 12px;
  box-sizing: border-box;
}

.subcribe-desciption {
  margin-bottom: 15px;
  font-size: 16px;
  font-family: "Avenir Next LT Pro", sans-serif;
  font-weight: 400;
}

.footer-email-input {
  border: 0;
  border-bottom: 1px solid rgba(36, 36, 36, 0.25);
  padding-left: 0;
  background: #f8f8f8;
  color: #242424;
  width: 100%;
  line-height: 1.6;
  padding: 10px 10px 10px 0;
}

.footer--link-wrapper{
  margin: 15px 0 15px 0;
}

.footer-email-submit{
  padding: 10px 20px;
  background-color: #242424;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0;
  display: inline-block;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 1px;
}

.footer-bottom{
  width: 100%;
}

.footer-bottom__content{
  padding: 30px 0;
  text-align: center;
}

.footer-main__bottom{
  padding: 0 30px;
}

.footer-list__country{
  padding: 10px;
  color: #242424;
  border: 1px solid #0a0a0a;
  font-size: 14px;
  font-weight: "Avenir Next LT Pro", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.footer-list__svg {
  margin: 15px 0;
}

.bottom--footer---links{
  margin: 10px 0;
  display: block;
}

.bottom--footer---links > li > a{
  color: #242424;
  font-size: 12px;
  line-height: 1.6;
  font-family: "Avenir Next LT Pro", sans-serif;
  display: inline-block;
}

.link-left{
  border-right: 1px solid #242424;
}

.bottom--footer---links > li{
  margin: 0 15px;
  list-style-type: none;
  line-height: 1;
  display: inline-block;
}
.footer-list__svg >svg{
  height: 40px;
    width: 55px;
}

/* Homepage content workout */
.homepage-workout__session {
  padding: 30px;
  max-width: 1660px;
  margin: auto;
  font-family: "Avenir Next LT Pro", sans-serif;
  font-weight: 400;
}

.homepage-workout__wrapper {
  display: flex;
  flex-direction: column;
  margin: -15px;
  align-items: center;
}

.homepage-workout__top {
  /* width: calc(100% / (1));
    padding-bottom: calc(100% / (6)); */
}

.workout-grid__item-inner {
  padding: 15px;
  width: 100%;
}

.workout-top__container {
  width: 100%;
}

.workout-top__content {
  padding: 30px;
}

.workout-top__main {
  width: 100%;
}

.workout-top__heading {
  font-size: 28px;
  font-family: "Americana", serif;
}

.workout-top__paragraph {
  margin-top: 15px;
  color: #262428;
  font-size: 16px;
  font-weight: 400;
}

.homepage-workout__bottom {
  width: 100%;
  box-sizing: border-box;
}

.workout-bottom__container {
  display: flex;
  width: 100%;
  align-items: center;
}

.workout-bottom__people {
  width: calc(100% / (2));
  padding-bottom: calc(100% / (2));
  height: 0;
  position: relative;
  /* box-sizing: border-box; */
}
.workout-people-background {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  padding: 15px;
}

.workout-people__container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.workout-people__main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.workout-people__image {
  width: 100%;
  background-image: url("../images/Frame_5_162c0908-dafc-4655-b7f4-60cc6f5697db_300x.webp");
  background-size: cover;
  background-position: 50% 50% !important;
  height: 100%;
  width: 100%;
}

.workout-bottom__item {
  width: calc(100% / (4));
  padding-bottom: calc(100% / (3));
  height: 0;
  position: relative;
}

.workout-item__inner {
  width: 100%;
  height: 100%;
  padding: 15px;
  position: absolute;
}
.workout-item__content {
  width: 100%;
  height: 100%;
  position: relative;
}

.workout-item__bg {
  background-image: url("../images/9_queenstown-big-front_1500x.webp");
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: 50% 50% !important;
}

.bg-right {
  background-image: url("../images/8_queenstown-big-front_300x.webp");
}

.workout-item__wrapper {
  padding: 30px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.workout-item__link {
  text-decoration: none;
  color: #242424;
  background-color: #fff;
  padding: 10px 35px;
  font-size: 14px;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 1px;
}

.workout-item__link:hover {
  background-color: #242424;
  color: #fff;
}

/* Homepage Smoothies content */

.homepage-smoothies__bg {
  background-image: url("../images/Feature-menu-5-1_1100x.webp");
  background-size: cover;
}

/* Homepage secsion wrapper */
.homepage-secsion_wrapper {
  padding: 50px 0px;
}

.wrapper-paged {
  padding: 0 30px;
  position: relative;
  margin: 0 auto;
}

.show-on__scroll {
  animation-delay: 0.25s;
}

.fadeInUp {
  animation-name: fadeInUp;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.homepage-product {
  width: 100%;
  margin-left: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.product-item {
  vertical-align: top;
  padding: 0;
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
}

.grid-view__item {
  position: relative;
  text-align: center;
}

.grid-image {
  overflow: hidden;
  position: relative;
}

.image-product__4 {
  width: 100%;
  height: 100%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  /* position: absolute; */
  left: 50%;
  top: 50%;
  /* transform: translate(-50%,-50%); */
}

.responsive-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.hidden {
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 100%;
  /* position: absolute; */
  opacity: 1;
  z-index: 4;
}

.grid-item__product {
  margin-top: 0;
  margin-bottom: 45px;
  width: 25%;
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 30px;
}

.grid-content {
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 15px 0;
}

.grid-product-title {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 5px;
  font-size: 14px;
  color: #242424;
}

.grid-product-price {
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #242424;
}

.grid-button {
  padding-bottom: 5px;
}

.link-view--option {
  color: #fff;
  font-weight: 400;
  background-color: #242424;
  color: #fff;
  transition: all 0.15s ease-in-out 0s;
  display: inline-block;
  padding: 10px 35px;
  letter-spacing: 1px;
  font-size: 14px;
  border-radius: none;
}

.money-line {
  text-decoration-line: line-through;
  text-decoration-color: #242424;
}

.on-sale {
  top: 0px;
  left: 0px;
  background-color: #f26c4f;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  line-height: 14px;
  padding: 10px 20px;
  text-transform: uppercase;
  z-index: 5;
  position: absolute;
}
